.content {
	height: 100vh;
	width: 100vw;
	color: #ffffff;
	background: linear-gradient(45deg , rgba(255,255,255,0.5) , rgba(0,0,150,0.5) ), rgba(0,0,0,0.5);
}

.heading {
	margin-left:240px;
}

.sec {
	padding-top:20px !important;
}